<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.demo.spring.mybatis.mapper.CustomerMapper">
    <resultMap id="customBaseMapper" type="com.hundsun.demo.spring.mybatis.CustomerDO">
        <!--@mbg.generated-->
        <!--@Table customers-->
        <id column="customerNumber" jdbcType="INTEGER" property="customernumber"/>
        <result column="customerName" jdbcType="VARCHAR" property="customername"/>
        <result column="contactLastName" jdbcType="VARCHAR" property="contactlastname"/>
        <result column="contactFirstName" jdbcType="VARCHAR" property="contactfirstname"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="addressLine1" jdbcType="VARCHAR" property="addressline1"/>
        <result column="addressLine2" jdbcType="VARCHAR" property="addressline2"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="postalCode" jdbcType="VARCHAR" property="postalcode"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="salesRepEmployeeNumber" jdbcType="INTEGER" property="salesrepemployeenumber"/>
        <result column="creditLimit" jdbcType="DECIMAL" property="creditlimit"/>
    </resultMap>

    <update id="updateOne" parameterType="com.hundsun.demo.spring.mybatis.CustomerDO">
        update customers
        <set>
            <if test="customername != null">
                customername = #{customername},
            </if>
            <if test="contactlastname != null">
                contactlastname = #{contactlastname},
            </if>
            <if test="contactfirstname != null">
                contactfirstname = #{contactfirstname},
            </if>
            <if test="phone != null">
                phone = #{phone},
            </if>
            <if test="addressline1 != null">
                addressline1 = #{addressline1},
            </if>
            <if test="addressline2 != null">
                addressline2 = #{addressline2},
            </if>
            <if test="city != null">
                city = #{city},
            </if>
            <if test="state != null">
                state = #{state},
            </if>
            <if test="postalcode != null">
                postalcode = #{postalcode},
            </if>
            <if test="country != null">
                country = #{country},
            </if>
            <if test="salesrepemployeenumber != null">
                salesrepemployeenumber = #{salesrepemployeenumber},
            </if>
            <if test="creditlimit != null">
                <!--
                参数设置同样也有很多参数
                1.参数名
                2.javaType 指定Java类型,可以不指定,如果对象是个泛型类型,比如HashMap,那么需要指定
                3.jdbcType 指定数据库类型,可以不指定
                4.numericScale 指定确定保留多少位小数
                5.mode IN，OUT 或 INOUT todo
                -->
                <!-- creditlimit = #{creditlimit,javaType=java.math.BigDecimal,jdbcType=DECIMAL,numericScale=3} -->
                creditlimit = #{creditlimit}
            </if>
        </set>
        <where>
            customernumber = #{customernumber}
        </where>
    </update>

    <select id="selectAll" resultType="com.hundsun.demo.spring.mybatis.CustomerDO">
        select *
        from customers
    </select>

    <select id="selectCustomerByEmployeeId"
            resultMap="org.hulei.common.mapper.mapper.CustomerMapper.customBaseMapper">
        select c.customerNumber,
               c.customerName,
               c.contactLastName,
               c.contactFirstName,
               c.phone,
               c.addressLine1,
               c.addressLine2,
               c.city,
               c.state,
               c.postalCode,
               c.country,
               c.salesRepEmployeeNumber,
               c.creditLimit
        from customers c
        where c.salesRepEmployeeNumber = #{employeeNumber}
    </select>
</mapper>