<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Home</title>
    <link href="/css/bootstrap.min.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    <h2 class="mt-5">Welcome to the Home Page</h2>
    <a th:href="@{/login}" class="btn btn-primary">Login</a>
    <a th:href="@{/user/index}" class="btn btn-primary">User</a>
    <a th:href="@{/blogs}" class="btn btn-primary">Blog</a>
</div>

<!--<script th:src="@{/js/jquery.min.js}"></script>-->
<!--<script th:src="@{/js/bootstrap.min.js}"></script>-->
</body>
</html>
