<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hulei.keeping.server.mq.spring.consumer.mapper.MQIdempotencyMapper">
    <update id="updateByTime" parameterType="com.hundsun.demo.commom.core.model.MQIdempotency">
        update rabbitmq_test
        set status = #{status}
        where uuid = #{uuid}
          and msg = #{msg}
          and time = #{time}
    </update>
    <delete id="deleteByTime" parameterType="com.hundsun.demo.commom.core.model.MQIdempotency">
        delete
        from rabbitmq_test
        where uuid = #{uuid}
          and msg = #{msg}
          and status = #{status}
          and time
            &lt; #{time}
    </delete>
</mapper>