<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- <context:component-scan base-package="com.hundsun.demo.spring"></context:com> -->

    <!-- BeanFactoryPostProcessor -->
    <bean class="com.hundsun.demo.spring.init.processor.IgnoreBeanFactoryPostProcessor"/>
    <bean class="com.hundsun.demo.spring.init.processor.ResolvableDependencyPostProcessor"/>
    <bean class="com.hundsun.demo.spring.service.impl.IgnoreBean"/>
    <bean name="mySQLServiceImpl" class="com.hundsun.demo.java.pattern.structural.proxy.MySQLServiceImpl"/>
    <bean name="mySQLServiceProxy" class="com.hundsun.demo.java.pattern.structural.proxy.normal.MySQLServiceProxy">
        <property name="mySqlService" ref="mySQLServiceImpl"/>
    </bean>

    <!-- ApplicationListener -->
    <bean class="com.hundsun.demo.spring.init.listener.SimpleListener"/>

    <!-- Spring AOP -->
    <bean class="com.hundsun.demo.dubbo.common.api.aop.DoneTimeAspect"/>
    <bean class="org.springframework.aop.aspectj.annotation.AnnotationAwareAspectJAutoProxyCreator">
        <property name="proxyTargetClass" value="true"/>
    </bean>

</beans>