<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.demo.springboot.mapper.EmployeeMapper">

    <insert id="insertWithDollar" parameterType="com.hundsun.demo.springboot.model.pojo.EmployeeDO">
        insert into employees
        values ( #{employeeNumber}, #{lastName}, #{firstName}, #{extension}, #{email}
               , #{officeCode}, #{reportsTo}, #{jobTitle})
    </insert>
    <select id="selectAll2" resultType="com.hundsun.demo.springboot.model.pojo.EmployeeDO">
        select * from {h-schema}employees
    </select>

</mapper>