<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hundsun.demo.springboot.common.mapper.ProductInfoMapper">
    <insert id="batchInsert" parameterType="com.hundsun.demo.commom.core.model.ProductInfoDO">
        insert into product_info(product_name, category, price, description)
        values
        <foreach collection="list" index="index" separator="," item="item">
            (#{item.productName},
            #{item.category},
            #{item.price},
            #{item.description})
        </foreach>
    </insert>
</mapper>