<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd"
>

    <context:component-scan base-package="com.hundsun.demo.spring"/>

    <!-- 一共有三种用于启用 AspectJ 自动代理功能的方式 -->
    <!-- 1. 开启<aop:aspectj-autoproxy/>配置-->
    <!-- 2. 注册AnnotationAwareAspectJAutoProxyCreator这个bean -->
    <!-- 3. 开启@EnableAspectJAutoProxy这个注解 -->
    <!-- Spring 将会自动检测并创建应用程序中使用了 AspectJ 注解的 bean，并将其装配为代理对象，以便应用程序中的切面可以对这些对象进行增强。 -->
    <aop:aspectj-autoproxy/>

    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="com.mysql.cj.jdbc.Driver"/>
        <property name="url"
                  value="jdbc:mysql://192.168.80.128:3306/test?useUnicode=true&amp;characterEncoding=UTF-8&amp;zeroDateTimeBehavior=convertToNull&amp;serverTimezone=Asia/Shanghai"/>
        <property name="username" value="root"/>
        <property name="password" value="123456"/>
    </bean>

    <bean id="userDAO" class="com.hundsun.demo.spring.mvc.springdao.UserDAOJdbcTemplate">
        <constructor-arg ref="dataSource"/>
        <!-- 这里如果不开启下面这个注释,由于UserDAOJdbcTemplate是实现了接口的,那么springaop会自动使用jdk代理,那么在获取bean的时候,直接使用UserDAOJdbcTemplate获取,会导致出现问题,jdk代理生成的代理对象是继承 java.lang.reflect.Proxy -->
        <!-- <aop:scoped-proxy/> -->
    </bean>

</beans>