<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hulei.eneity.mybatisplus.mapper.EmployeesMapper">
  <resultMap id="BaseResultMap" type="org.hulei.eneity.mybatisplus.domain.Employees">
    <!--@Table employees-->
    <id column="employee_number" jdbcType="BIGINT" property="employeeNumber" />
    <result column="last_name" jdbcType="VARCHAR" property="lastName" />
    <result column="first_name" jdbcType="VARCHAR" property="firstName" />
    <result column="extension" jdbcType="VARCHAR" property="extension" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="office_code" jdbcType="VARCHAR" property="officeCode" />
    <result column="reports_to" jdbcType="INTEGER" property="reportsTo" />
    <result column="job_title" jdbcType="VARCHAR" property="jobTitle" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
  </resultMap>
</mapper>