<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hulei.eneity.mybatisplus.mapper.OrderDetailsMapper">
  <resultMap id="BaseResultMap" type="org.hulei.eneity.mybatisplus.domain.OrderDetails">
    <!--@Table order_details-->
    <id column="order_number" jdbcType="INTEGER" property="orderNumber" />
    <id column="product_code" jdbcType="VARCHAR" property="productCode" />
    <result column="quantity_ordered" jdbcType="INTEGER" property="quantityOrdered" />
    <result column="price_each" jdbcType="DECIMAL" property="priceEach" />
    <result column="order_line_number" jdbcType="SMALLINT" property="orderLineNumber" />
  </resultMap>
</mapper>