<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hulei.eneity.mybatisplus.mapper.PaymentsMapper">
  <resultMap id="BaseResultMap" type="org.hulei.eneity.mybatisplus.domain.Payments">
    <!--@Table payments-->
    <id column="customer_number" jdbcType="INTEGER" property="customerNumber" />
    <id column="check_number" jdbcType="VARCHAR" property="checkNumber" />
    <result column="payment_date" jdbcType="DATE" property="paymentDate" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
  </resultMap>
</mapper>