<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hulei.eneity.mybatisplus.mapper.ProductLinesMapper">
  <resultMap id="BaseResultMap" type="org.hulei.eneity.mybatisplus.domain.ProductLines">
    <!--@Table product_lines-->
    <id column="product_line" jdbcType="VARCHAR" property="productLine" />
    <result column="text_description" jdbcType="VARCHAR" property="textDescription" />
    <result column="html_description" jdbcType="LONGVARCHAR" property="htmlDescription" />
    <result column="image" jdbcType="BLOB" property="image" />
  </resultMap>
</mapper>