<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.hulei.eneity.mybatisplus.mapper.ProductInfoMapper">
  <resultMap id="BaseResultMap" type="org.hulei.eneity.mybatisplus.domain.ProductInfo">
    <!--@Table product_info-->
    <id column="product_id" jdbcType="INTEGER" property="productId" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="category" jdbcType="VARCHAR" property="category" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="description" jdbcType="LONGVARCHAR" property="description" />
  </resultMap>
</mapper>