<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hulei.springboot.tkmybatis.mapper.EmployeeMapper">
    <!-- <cache/> -->
    <insert id="saveOne" parameterType="com.hundsun.demo.commom.core.model.EmployeeDO">
        insert into employees(employeeNumber, lastName, firstName, extension, email, officeCode, reportsTo, jobTitle)
        values (#{employeeNumber}, #{lastName}, #{firstName}, #{extension}, #{email}, #{officeCode}, #{reportsTo},
                #{jobTitle})
        <!--        values ( ${employeeNumber}, ${lastName}, ${firstName}, ${extension}, ${email}, ${officeCode}, ${reportsTo},-->
        <!--        ${jobTitle})-->
    </insert>
    <select id="selectAllData" resultType="com.hundsun.demo.commom.core.model.EmployeeDO">
        select *
        from employees
    </select>

    <select id="selectLastNameById" resultType="java.lang.String">
        select t.lastName
        from employees t
        where t.employeeNumber = #{id}
    </select>
</mapper>
