<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hulei.mybatis.mapper.BigDataUserMapper">
    <select id="getUserByName" resultType="org.hulei.entity.jpa.pojo.BigDataUser">
        select *
        from big_data_users
        where name = #{name}
    </select>

    <insert id="savaOne">
        insert into big_data_users(name, email) value (#{name}, #{email})
    </insert>

    <insert id="batchInsert">
        insert into big_data_users(name, email)
        values
        <foreach collection="records" index="index" item="item" separator=",">
            (#{item.name}, #{item.email})
        </foreach>
    </insert>

    <select id="selectAll" resultType="org.hulei.entity.jpa.pojo.BigDataUser">
        select *
        from big_data_users
    </select>
</mapper>