<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hulei.mybatis.mapper.CustomerMapper">
    <!-- <cache-ref namespace="org.hulei.mybatis.mapper.CustomerMapper"/> -->

    <resultMap id="customBaseMapper" type="org.hulei.entity.jpa.pojo.Customer">
        <!--@mbg.generated-->
        <!--@Table customers-->
        <id column="customer_number" jdbcType="INTEGER" property="id"/>
        <result column="customer_name" jdbcType="VARCHAR" property="customerName"/>
        <result column="contact_last_name" jdbcType="VARCHAR" property="contactLastName"/>
        <result column="contact_first_name" jdbcType="VARCHAR" property="contactFirstName"/>
        <result column="phone" jdbcType="VARCHAR" property="phone"/>
        <result column="address_line1" jdbcType="VARCHAR" property="addressLine1"/>
        <result column="address_line2" jdbcType="VARCHAR" property="addressLine2"/>
        <result column="city" jdbcType="VARCHAR" property="city"/>
        <result column="state" jdbcType="VARCHAR" property="state"/>
        <result column="postal_code" jdbcType="VARCHAR" property="postalCode"/>
        <result column="country" jdbcType="VARCHAR" property="country"/>
        <result column="sales_rep_employee_number" jdbcType="INTEGER" property="salesRepEmployeeNumber"/>
        <result column="credit_limit" jdbcType="DECIMAL" property="creditLimit"/>
    </resultMap>

    <select id="selectById" resultMap="customBaseMapper">
        select *
        from customers
        where customer_number = #{id}
    </select>
</mapper>